schemas/UgcProfile/1.0/UgcProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dsrf="http://ddex.net/xml/dsrf/3/20161109" xmlns:avs="http://ddex.net/xml/avs/avs"
   xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://ddex.net/xml/dsrf/3/20161109" elementFormDefault="unqualified"
   attributeFormDefault="unqualified">
   <xs:import namespace="http://ddex.net/xml/avs/avs" schemaLocation="../..//avs/current/avs.xsd"/>
   <xs:annotation>
      <xs:documentation>© 2006-2016 Digital Data Exchange, LLC (DDEX)</xs:documentation>
      <xs:documentation>This XML Schema Definition file is, together with all DDEX standards, subject to two licences: If you wish to evaluate whether the standard meets your needs please have a look at the Evaluation Licence at https://kb.ddex.net/display/HBK/Evaluation+Licence+for+DDEX+Standards. If you want to implement and use this DDEX standard, please take out an Implementation Licence. For details please go to http://ddex.net/apply-ddex-implementation-licence.</xs:documentation>
      <xs:documentation>UgcProfile 1.0</xs:documentation>
   </xs:annotation>
   <xs:element name="UgcProfile" type="dsrf:UgcProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a Report for all Usage, Revenue or Sales for user-generated content.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RecordType-AS01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sound Recording Record with details of sound recordings and music videos that have been used or sold individually or as part of a Release (without Musical Work Information).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'AS01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="AS01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspResourceId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Resource assigned by the MessageSender</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ISRC" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISRC (International Standard Recording Code as defined in ISO 3901) for the SoundRecording. An ISRC comprises four parts: two characters, followed by three alphanumeric characters, then two digits and five digits.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z]{2}[a-zA-Z0-9]{3}[0-9]{7}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the SoundRecording.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Resource to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Duration" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Duration of the SoundRecording (using the ISO 8601:2004 PT[[hhH]mmM]ssS format, where lower case characters indicate variables, upper case characters are part of the string, e.g. one hour, two minutes and three seconds would be PT1H2M3S). The seconds section ss may include fractions (e.g. one minute and 30.5 seconds would be PT1M30.5S).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceType" type="avs:ResourceType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-AS02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sound Recording Record with details of sound recordings and music videos that have been used or sold individually or as part of a Release (without Musical Work Information).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'AS02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="AS02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspResourceId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Resource assigned by the MessageSender</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ISRC" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISRC (International Standard Recording Code as defined in ISO 3901) for the SoundRecording. An ISRC comprises four parts: two characters, followed by three alphanumeric characters, then two digits and five digits.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z]{2}[a-zA-Z0-9]{3}[0-9]{7}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the SoundRecording.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Resource to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Duration" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Duration of the SoundRecording (using the ISO 8601:2004 PT[[hhH]mmM]ssS format, where lower case characters indicate variables, upper case characters are part of the string, e.g. one hour, two minutes and three seconds would be PT1H2M3S). The seconds section ss may include fractions (e.g. one minute and 30.5 seconds would be PT1M30.5S).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceType" type="avs:ResourceType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ISWC" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISWC (International Standard Musical Work Code defined in ISO 15707) identifying the MusicalWork. An ISWC comprises three parts: the letter 'T', followed by nine digits and then one check digit.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="T[0-9]{10}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ComposerAuthor" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a writer of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ComposerAuthorPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ComposerAuthor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Arranger" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of an Arranger of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ArrangerPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Arranger(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MusicPublisher" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the MusicPublisher(s) of the MusicalWork for the relevant Territory.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MusicPublisherPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Publisher(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="WorkContributor" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a contributor of the Work. This cell shall only be used if the MessageSender does not know whether the contributor is a ComposerAuthor or an Arranger, or if the contributor played a role other than a ComposerAuthor or Arranger.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WorkContributorPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the WorkContributor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-FOOT">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the end of each SalesReportMessage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'FOOT'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="FOOT"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NumberOfLinesInFile" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of data lines communicated in the file, including Header and Footer Records as well as empty Records in accordance with Clause 6.6.7 and commented-out Records in accordance with Clause 6.6.9.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfLinesInReport" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of data lines communicated in the Sales Report Message, including Header and Footer Records as well as empty Records in accordance with Clause 6.6.7 and commented-out Records in accordance with Clause 6.6.9. For single-file reports the NumberOfLinesInReport is the same as NumberOfLinesInFile. In multi-file reports, NumberOfLinesInFile is smaller than NumberOfLinesInReport.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfSummaryRecords" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Summary Records defined in accordance with the relevant Profile.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfBlocksInFile" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Blocks of Records in the file in accordance with the relevant profile. This need to be provided in the last file of the Report (but not the others).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfBlocksInRecord" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Blocks of Records in the Sales Report Message in accordance with the relevant profile. This need to be provided in the last file of the Report (but not the others).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-HEAD">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the beginning of each SalesReportMessage providing information about the Message, such as MessageSender, MessageRecipient and a Message creation time stamp.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'HEAD'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="HEAD"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MessageVersion">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Version of the Message.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="dsrf/"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Profile" type="avs:ProfileId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier of the Profile used for the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProfileVersion">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier of the Version of the Profile used for the Message. The value for this field is defined in the relevant Profile standard.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="(1\.0|1\.1)"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MessageId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A string used to uniquely identify the Message. The MessageId shall be, in combination with the MessageSender Identifier, globally unique. Thus, a MessageSender shall never re-use a MessageId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageCreatedDateTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DateTime on which the Message was created (the only allowed format is ISO 8601:2004: YYYY-MM-DDThh:mm:ssTZD).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FileNumber" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Sequence number of the File within the Flat File Sales Report Message. The first file shall be numbered “1”. The FileNumber must not be larger than NumberOfFiles.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfFiles" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Files that the Sales Report is provided in.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsageStartDate" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The StartDate of the reporting Period covered by the Message (in ISO 8601:2004 format). This is a string with the syntax YYYY[-MM[-DD]].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsageEndDate" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The EndDate of the reporting Period covered by the Message (in ISO 8601:2004 format). This is a string with the syntax YYYY[-MM[-DD]].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SenderPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX PartyId (DPID) of the MessageSender.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SenderName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Full Name of the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDesctiption is intended to be a human-readable expression of the totality of the services reported in the Message. For sales/usage reports covering one sales context (see Clause 6.5) this should be the same is being the same string used in the file name (see Clause 9.1) and the single Summary Record contained in the Message. For sales reports covering multiple sale contexts, the ServiceDescription in the Header should be the same as on the file name and represent a human-readable summary of the sales contexts provided in the Summary Records.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecipientPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX PartyId (DPID) of the MessageRecipient. This element is mandatory when the Sales Report Message is sent to one MessageRecipient and must not be included when the Sales Report Message is sent to more than one MessageRecipient.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RecipientName" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Full Name of the MessageRecipient. This element is mandatory when the Sales Report Message is sent to one MessageRecipient and must not be included when the Sales Report Message is sent to more than one MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RepresentedRepertoire" minOccurs="0" maxOccurs="unbounded"
            type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Content owners represented by the MessageRecipient. This only needs to be provided if there are more than one repertoires being administered by the MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-LI01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of UGC-related Revenues and amounts communicated to a RightsController to allow provision of revenue and amounts due to individual RightsControllers.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'LI01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="LI01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsController" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsControllerPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the RightsController.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RightsControllerWorkId" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier given to the MusicalWork used by the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightSharePercentage" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Percentage of the MusicalWorks used in the Head Resource (or the Head Work itself) that is believed by the MessageSender to be controlled by the RightsController. A quarter share is represented by '25' (and not 0.25).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsType" minOccurs="0" type="avs:RightsCoverage">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The right for which the RightSharePercentage is provided.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedNetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of generated by the DSP that is to be ascribed to the Head Resource or Work allocated to the RightSharePercentage to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedAmount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Uses, Revenue or Sales as reported in this Block.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-MW01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Musical Work Record with details of a MusicalWork that has been utilised.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'MW01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="MW01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspWorkId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the MusicalWork assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ISWC" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISWC (International Standard Musical Work Code defined in ISO 15707) identifying the MusicalWork. An ISWC comprises three parts: the letter 'T', followed by nine digits and then one check digit.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="T[0-9]{10}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the MusicalWork.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ComposerAuthor" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a writer of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ComposerAuthorPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ComposerAuthor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Arranger" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of an Arranger of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ArrangerPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Arranger(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MusicPublisher" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the MusicPublisher(s) of the MusicalWork for the relevant Territory.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MusicPublisherPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Publisher(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="WorkContributor" minOccurs="0" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a contributor of the Work. This cell shall only be used if the MessageSender does not know whether the contributor is a ComposerAuthor or an Arranger, or if the contributor played a role other than a ComposerAuthor or Arranger.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WorkContributorPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the WorkControibutor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DataProvider" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the company that provided the Work information to the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-RE01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Audio Release Record with details of AudioReleases that have been used or sold.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RE01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RE01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record. Within a Block, the ReleaseReference shall be unique across all Release Records.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProprietaryReleaseId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release preceded by a namespace identifier in the syntax ns::id.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CatalogNumber" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The catalogue number of the Release assigned by the issuing record company.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ICPN" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ICPN used as proxy for identification of the Release. An ICPN comprises 12 or 13 digits, depending whether it is an EAN (13) or a UPC (12). 14 character ICPNs are also permitted.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{12,14}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DisplayArtistName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Release to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseType" minOccurs="0" type="avs:ReleaseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The form in which a ReleaseCreator anticipates offering the Release to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Label" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the Label for the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PLine" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PLine for the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DataProvider" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the company that provided the Release information to the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-RE02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sub-Release Record with details of Sub-Releases that have been used or sold.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RE02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RE02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record. Within a Block, the ReleaseReference shall be unique across all Release Records. In the interest of keeping sales/usage reports as compact as possible, the ReleaseReference should typically be a short string, e.g. '1', '2', ...</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspSubReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Sub-Release assigned by the MessageSender. This ProprietaryIdentifier should be a globally unique identifier for the Sub-Release and not the globally unique identifier for the Head Releases that this Sub-Release has been taken from.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProprietarySubReleaseId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Sub-Release preceded by a namespace identifier in the syntax ns::i. This ProprietaryIdentifier should be a globally unique identifier for the Sub-Release and not the globally unique identifier for the Head Releases that this Sub-Release has been taken from.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="UsedResources" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">List of ResourceReferences of the Resources (reported in the same Block) that make up the Sub-Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-RU01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a UGC Resource Usage Summary Record with a summary of the Uses of up to 100 uses of UGC Resources.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RU01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RU01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" maxOccurs="unbounded" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the UGC Release has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-RU02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a UGC Resource Usage Record with details of of the Uses of a single UGC Resource with Title and URL of the Resource.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RU02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RU02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseTitle" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Title of the UGC Release, as given by the user who uploaded the UGC Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseURL" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The URL from which the MessageSender made the UGC Release available to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the “Head” Resource or Work has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SU03">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of UGC Resources where there is no need to point to a Summary Record.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU03'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU03"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the SalesTransaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the “Head” Resource or Work has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModelType and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ValidityPeriodStart" minOccurs="0" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The first date at which, to the knowledge of the MessageSender, the information provided in the RightsController and RightSharePercent Cells is accurate. Note: the ValidityPeriodStart may be earlier (or later) than the first day covered by the sales/usage report.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ValidityPeriodEnd" minOccurs="0" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The last date at which, to the knowledge of the MessageSender, the information provided in the RightsController and RightSharePercentage Cells is accurate. Note: the ValidityPeriodEnd may be later (or earlier) than the latest day covered by the sales/usage report.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SY02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about Usages, Sales and Revenues of AudioReleases or Resources Ad-Supported and Interactive Streaming Services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannel" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannelDPID">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Users" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Users with whom the Release or Resource were transacted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue, AllocatedRevenue and AllocatedNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModel and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsController" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsControllerPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">PartyId of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AllocatedUsages" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages allocated to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AmountPayable" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Uses reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AllocatedNetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the generated that are to be ascribed to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SY03">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about Usages, Sales and Revenues of AudioReleases or Resources for Subscription Services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY03'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY03"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannel" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannelDPID" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Subscribers" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of paying Subscribers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue, ConsumerPaidUnitPrice, AllocatedRevenue and AllocatedNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModel and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsController" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsControllerPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">PartyId of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AllocatedUsages" minOccurs="0" maxOccurs="unbounded" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages allocated to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedRevenue" minOccurs="0" maxOccurs="unbounded" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Usages, Revenues or Sales reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedNetRevenue" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of that which is generated that is to be ascribed to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsControllerMarketShare" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ratio in percent between number of Usages and
number of AllocatedUsages. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConsumerPaidUnitPrice" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The average price paid by the Subscribers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FreeOrTrialSubscribers" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of non-paying Subscribers (including Subscribers in a non-paying trial period).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ExchangeRateBaseCurrency" minOccurs="0" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The base Currency for which the ExchangeRate is given.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ExchangeRate" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The exchange rate used to calculate the AllocatedRevenue in the specified Currency.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResourceIdentificationGroupingForUgcProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a grouping for Resource identification in the UgcProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:sequence>
               <xs:element name="RecordType-AS01" type="dsrf:RecordType-AS01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a Record, of type AS01, which contains information regarding the SoundRecordings,
Videos and other 'master' Resources that have been used in creating the user-generated content that has been accessed. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordType-MW01" minOccurs="0" maxOccurs="unbounded"
                  type="dsrf:RecordType-MW01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a Musical Work Record,
of type MW01.01 which contains information about the MusicalWork utilised. </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:element name="RecordType-AS02" type="dsrf:RecordType-AS02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Resource Record of type AS02.01 describing the Resource including basic information of the underlying Work.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UgcProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a Report for all Usage, Revenue or Sales for user-generated content.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType-HEAD" type="dsrf:RecordType-HEAD">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The MessageHeader for the SalesReportMessage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="RecordType-SY02" type="dsrf:RecordType-SY02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a type of use, commercial model and territory any Release contained in the Sales Report Message has been traded under.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-SY03" type="dsrf:RecordType-SY03">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a type of use, commercial model and territory any Release contained in the Sales Report Message has been traded under.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element name="UgcProfileBlock" minOccurs="0" maxOccurs="unbounded"
            type="dsrf:UgcProfileBlock">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of a block in the UgcProfile.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecordType-FOOT" type="dsrf:RecordType-FOOT">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The MessageFooter for the SalesReportMessage.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UgcProfileBlock">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a block in the UgcProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ResourceIdentificationGrouping" maxOccurs="unbounded"
            type="dsrf:ResourceIdentificationGroupingForUgcProfile">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a grouping for Resource identification.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="RecordType-RU01" type="dsrf:RecordType-RU01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a UGC Release Usage Record of type RU01 describing the use of UGC Releases.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-RU02" type="dsrf:RecordType-RU02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a RU02 Record for each UGC Release and its use.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="SU03" type="dsrf:RecordType-SU03">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales Figures of type SU03.01.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="RecordType-LI01" type="dsrf:RecordType-LI01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a LI01 Record providing Licensor-specific information for the usages reported in the preceding SU03.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ddex_IsoDate">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Date represented in ISO 8601:2004 format: YYYY[-MM[-DD]].</xs:documentation>
         <xs:documentation source="ddex:Comment">Format: A Date represented as a calendar Year, Month or Day (in ISO 8601:2004 format: YYYY, YYYY-MM or YYYY-MM-DD).</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{4}(-[0-9]{2}){0,1}(-[0-9]{2}){0,1}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
