schemas/3.0/sales-reporting-flat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
   targetNamespace="http://ddex.net/xml/dsrf/30/20160205" xmlns:avs="http://ddex.net/xml/avs/avs"
   xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:dsrf="http://ddex.net/xml/dsrf/30/20160205"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://ddex.net/xml/avs/avs" schemaLocation="avs.xsd"/>
   <xs:annotation>
      <xs:documentation>© 2006-2016 Digital Data Exchange, LLC (DDEX)</xs:documentation>
      <xs:documentation>This XML Schema Definition file is, together with all DDEX standards, subject to two licences: If you wish to evaluate whether the standard meets your needs please have a look at the Evaluation Licence at https://kb.ddex.net/display/HBK/Evaluation+Licence+for+DDEX+Standards. If you want to implement and use this DDEX standard, please take out an Implementation Licence. For details please go to http://ddex.net/apply-ddex-implementation-licence.</xs:documentation>
   </xs:annotation>
   <xs:element name="SalesReportMessage">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A SalesReportMessage in the DSR Message Suite, Flat File Profile, sent to a MusicalWork Licensor.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:choice>
            <xs:element name="BasicAudioProfile" type="dsrf:BasicAudioProfile">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a Report for audio-only Usage, Revenue or Sales. This Profile is also for reporting Usage, Revenue or Sales for music videos.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="UgcProfile" type="dsrf:UgcProfile">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a Report for all Usage, Revenue or Sales for user-generated content.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="AcknowldegementMessage">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A sales reporting Message in the DSR Message Suite, Flat File Profile, sent to a MusicalWork Licensor.</xs:documentation>
      </xs:annotation>
      <xs:complexType/>
   </xs:element>
   <xs:complexType name="AS01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sound Recording Record with details of sound recordings and music videos that have been used or sold individually or as part of a Release (without Musical Work Information).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'AS01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="AS01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspResourceId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Resource assigned by the MessageSender</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ISRC">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISRC (International Standard Recording Code as defined in ISO 3901) for the SoundRecording. An ISRC comprises four parts: two characters, followed by three alphanumeric characters, then two digits and five digits.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="^[a-zA-Z]{2}[a-zA-Z0-9]{3}[0-9]{7}$"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the SoundRecording.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SubTitle" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Resource to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DisplayArtistPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Duration" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Duration of the SoundRecording (using the ISO 8601:2004 PT[[hhH]mmM]ssS format, where lower case characters indicate variables, upper case characters are part of the string, e.g. one hour, two minutes and three seconds would be PT1H2M3S). The seconds section ss may include fractions (e.g. one minute and 30.5 seconds would be PT1M30.5S).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceType" type="avs:ResourceType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AS02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sound Recording Record with details of sound recordings and music videos that have been used or sold individually or as part of a Release (with Musical Work Information).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'AS02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="AS02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspResourceId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Resource assigned by the MessageSender</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ISRC">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISRC (International Standard Recording Code as defined in ISO 3901) for the SoundRecording. An ISRC comprises four parts: two characters, followed by three alphanumeric characters, then two digits and five digits.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="^[a-zA-Z]{2}[a-zA-Z0-9]{3}[0-9]{7}$"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the SoundRecording.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SubTitle" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Resource to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DisplayArtistPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Duration" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Duration of the SoundRecording (using the ISO 8601:2004 PT[[hhH]mmM]ssS format, where lower case characters indicate variables, upper case characters are part of the string, e.g. one hour, two minutes and three seconds would be PT1H2M3S). The seconds section ss may include fractions (e.g. one minute and 30.5 seconds would be PT1M30.5S).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceType" type="avs:ResourceType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ISWC">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISWC (International Standard Musical Work Code defined in ISO 15707) identifying the MusicalWork. An ISWC comprises three parts: the letter 'T', followed by nine digits and then one check digit.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="^T[0-9]{10}$"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ComposerAuthor" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a writer of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ComposerAuthorPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ComposerAuthor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Arranger" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of an Arranger of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ArrangerPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Arranger(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="MusicPublisher" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the MusicPublisher(s) of the MusicalWork for the relevant Territory.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="MusicPublisherPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Publisher(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkContributor" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a contributor of the Work. This cell shall only be used if the MessageSender does not know whether the contributor is a ComposerAuthor or an Arranger, or if the contributor played a role other than a ComposerAuthor or Arranger.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkContributorPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the WorkContributor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FOOT">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the end of each SalesReportMessage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'FOOT'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="FOOT"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NumberOfLinesInFile" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of data lines communicated in the file, including Header and Footer Records as well as empty Records in accordance with Clause 6.6.7 and commented-out Records in accordance with Clause 6.6.9.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberOfLinesInReport" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of data lines communicated in the Sales Report Message, including Header and Footer Records as well as empty Records in accordance with Clause 6.6.7 and commented-out Records in accordance with Clause 6.6.9. For single-file reports the NumberOfLinesInReport is the same as NumberOfLinesInFile. In multi-file reports, NumberOfLinesInFile is smaller than NumberOfLinesInReport.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfSummaryRecords" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Summary Records defined in accordance with the relevant Profile.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberOfBlocksInFile" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Blocks of Records in the file in accordance with the relevant profile. This need to be provided in the last file of the Report (but not the others).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberOfBlocksInRecord" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Blocks of Records in the Sales Report Message in accordance with the relevant profile. This need to be provided in the last file of the Report (but not the others).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HEAD">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the beginning of each SalesReportMessage providing information about the Message, such as MessageSender, MessageRecipient and a Message creation time stamp.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'HEAD'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="HEAD"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MessageVersion">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Version of the Message.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="dsrf/30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Profile" type="avs:ProfileId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier of the Profile used for the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProfileVersion">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier of the Version of the Profile used for the Message. The value for this field is defined in the relevant Profile standard.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="1.0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MessageId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A string used to uniquely identify the Message. The MessageId shall be, in combination with the MessageSender Identifier, globally unique. Thus, a MessageSender shall never re-use a MessageId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageCreatedDateTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DateTime on which the Message was created (the only allowed format is ISO 8601:2004: YYYY-MM-DDThh:mm:ssTZD).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FileNumber" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Sequence number of the File within the Flat File Sales Report Message. The first file shall be numbered “1”. The FileNumber must not be larger than NumberOfFiles.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfFiles" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Files that the Sales Report is provided in.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsageStartDate" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The StartDate of the reporting Period covered by the Message (in ISO 8601:2004 format). This is a string with the syntax YYYY[-MM[-DD]].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsageEndDate" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The EndDate of the reporting Period covered by the Message (in ISO 8601:2004 format). This is a string with the syntax YYYY[-MM[-DD]].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SenderPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX PartyId (DPID) of the MessageSender.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SenderName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Full Name of the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDesctiption is intended to be a human-readable expression of the totality of the services reported in the Message. For sales/usage reports covering one sales context (see Clause 6.5) this should be the same is being the same string used in the file name (see Clause 9.1) and the single Summary Record contained in the Message. For sales reports covering multiple sale contexts, the ServiceDescription in the Header should be the same as on the file name and represent a human-readable summary of the sales contexts provided in the Summary Records.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecipientPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX PartyId (DPID) of the MessageRecipient. This element is mandatory when the Sales Report Message is sent to one MessageRecipient and must not be included when the Sales Report Message is sent to more than one MessageRecipient.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="RecipientName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Full Name of the MessageRecipient. This element is mandatory when the Sales Report Message is sent to one MessageRecipient and must not be included when the Sales Report Message is sent to more than one MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="RepresentedRepertoire"
            type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Content owners represented by the MessageRecipient. This only needs to be provided if there are more than one repertoires being administered by the MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LI01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of UGC-related Revenues and amounts communicated to a RightsController to allow provision of revenue and amounts due to individual RightsControllers.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'LI01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="LI01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsController" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsControllerPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the RightsController.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="RightsControllerWorkId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier given to the MusicalWork used by the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightSharePercentage" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Percentage of the MusicalWorks used in the Head Resource (or the Head Work itself) that is believed by the MessageSender to be controlled by the RightsController. A quarter share is represented by '25' (and not 0.25).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightType" type="avs:RightsCoverage">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The right for which the RightSharePercent is provided.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedNetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of generated by the DSP that is to be ascribed to the Head Resource or Work allocated to the RightSharePercent to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedAmount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RighsController for the Uses, Revenue or Sales as reported in this Block.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MW01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Musical Work Record with details of a MusicalWork that has been utilised.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'MW01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="MW01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspWorkId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the MusicalWork assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ISWC">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISWC (International Standard Musical Work Code defined in ISO 15707) identifying the MusicalWork. An ISWC comprises three parts: the letter 'T', followed by nine digits and then one check digit.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="^T[0-9]{10}$"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the MusicalWork.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SubTitle" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ComposerAuthor" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a writer of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ComposerAuthorPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ComposerAuthor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Arranger" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of an Arranger of the MusicalWork used in creating the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ArrangerPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Agganger(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="MusicPublisher" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the MusicPublisher(s) of the MusicalWork for the relevant Territory.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="MusicPublisherPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Publisher(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkContributor" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a contributor of the Work. This cell shall only be used if the MessageSender does not know whether the contributor is a ComposerAuthor or an Arranger, or if the contributor played a role other than a ComposerAuthor or Arranger.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkContributorPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the WorkControibutor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="DataProvider" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the company that provided the Work information to the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RE01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Audio Release Record with details of audio Releases that have been used or sold.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RE01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RE01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record. Within a Block, the ReleaseReference shall be unique across all Release Records.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ProprietaryReleaseId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release preceded by a namespace identifier in the syntax ns::id.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="CatalogNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The catalogue number of the Release assigned by the issuing record company.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ICPN">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ICPN used as proxy for identification of the Release. An ICPN comprises 12 or 13 digits, depending whether it is an EAN (13) or a UPC (12). 14 character ICPNs are also permitted.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="^[0-9]{12,14}$"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DisplayArtistName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Release to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DisplayArtistPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SubTitle" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ReleaseType" type="avs:ReleaseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The form in which a ReleaseCreator anticipates offering the Release to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Label" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the Label for the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PLine" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PLine for the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DataProvider" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the company that provided the Release information to the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RE02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sub-Release Record with details of Sub-Releases that have been used or sold.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RE02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RE02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record. Within a Block, the ReleaseReference shall be unique across all Release Records.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ProprietaryReleaseId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release preceded by a namespace identifier in the syntax ns::id.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="UsedResources" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">List of ResourceReferences of the Resources (reported in the same Block) that make up the Sub-Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RU01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a UGC Resource Usage Summary Record with a summary of the Uses of up to 100 uses of UGC Resources.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RU01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RU01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the UGC Release has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RU02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a UGC Resource Usage Record with details of of the Uses of a single UGC Resource with Title and URL of the Resource.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RU02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RU02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseTitle" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Title of the UGC Release, as given by the user who uploaded the UGC Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseURL" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The URL from which the MessageSender made the UGC Release available to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the “Head” Resource or Work has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SU01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of Releases and/or Resources (not UGC) for download services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the Sales Transaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransactedRelease" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record describing the Release (either a Head Release or a SubRelease) whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransactedResource" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record describing the Resource whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsRoyaltyBearing" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Boolean flag indicating whether the MessageSender is contractually obliged to pay royalties to the RightsController for the SalesTransaction reported in the Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesUpgrade" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Flag indicating whether the SalesTransaction applies to an upgraded Release (=true) or not (=false).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release by Consumers using the MessageSender service, including any sales adjustments. Sales adjustments include e.g. file failures.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Returns" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of a Release returned (with refund) to the MessageSender as a result of a reversal of a SalesTransaction or because of an earlier error in sales reporting.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PriceConsumerPaidExcSalesTax" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Price paid by Consumers, excluding SalesTax for each SalesTransaction. This may be a nominal price.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PromotionalActivity" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Free-text Description of a promotional activity that led to the Release being distributed.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SU02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of Releases and/or Resources (not UGC) for streaming services and webcasts.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the SalesTransaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransactedRelease" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record describing the Release (either a Head Release or a SubRelease) whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransactedResource" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record describing the Resource whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsRoyaltyBearing" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Boolean flag indicating whether the MessageSender is contractually obliged to pay royalties to the RightsController for the SalesTransaction reported in the Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfStreams" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Streams of the Release from the MessageSender to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PriceConsumerPaidExcSalesTax" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Price paid by Consumers, excluding SalesTax for each SalesTransaction. This may be a nominal price.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PromotionalActivity" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Free-text Description of a promotional activity that led to the Release being distributed.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SU03">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of UGC Resources.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU03'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU03"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the SalesTransaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the “Head” Resource or Work has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModelType and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ValidityPeriodStart" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The first date at which, to the knowledge of the MessageSender, the information provided in the RighsController and RightSharePercent Cells is accurate. Note: the ValidityPeriodStart may be earlier (or later) than the first day covered by the sales/usage report.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ValidityPeriodEnd" type="dsrf:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The last date at which, to the knowledge of the MessageSender, the information provided in the RighsController and RightSharePercent Cells is accurate. Note: the ValidityPeriodEnd may be later (or earlier) than the latest day covered by the sales/usage report.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SY01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about Usages, Sales and Revenues of Audio Releases or Resources for the PayAsYouGoModel.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannel" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannelDPID">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Subscribers" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of subscribers to a Service.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue and IndirectNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the DSP generated from the distribution of such products, as well as sales of products based on Releases embodying relevant Work(s).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IndirectNetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender that was generated and that cannot be allocated to individual Releases. This field is Contractually Mandatory.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SY02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about Usages, Sales and Revenues of Audio Releases or Resources Ad-Supported and Interactive Streaming Services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannel" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannelDPID">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Users" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Users with whom the Release or Resource were transacted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue, AmountPayable and AllocatedNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModel and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsController" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsControllerPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">PartyId of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AllocatedUsages" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages allocated to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AmountPayable" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Uses reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AllocatedNetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the generated that are to be ascribed to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SY03">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about Usages, Sales and Revenues of Audio Releases or Resources for Subscription Services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY03'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY03"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannel" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DistributionChannelDPID">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Subscribers" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of paying Subscribers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue, ConsumerPaidUnitPrice, AmountPayable and AllocatedNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModel and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsController" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsControllerPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">PartyId of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AllocatedUsages" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages allocated to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AmountPayable" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Usages, Revenues or Sales reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AllocatedNetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of that which is generated that is to be ascribed to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RightsControllerMarketShare" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ratio in percent between number of Usages and
number of AllocatedUsages. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConsumerPaidUnitPrice" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The average price paid by the Subscribers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FreeOrTrialSubscribers" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of non-paying Subscribers (including Subscribers in a non-paying trial period).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ExchangeRateBaseCurrency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The base Currency for which the ExchangeRate is given.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Exchange rate used to calculate the AmountPayable in the specified Currency.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResourceIdentificationGroupingForBasicAudioProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a grouping for Resource identification for the BasicAudioProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:sequence>
               <xs:element name="AS01" type="dsrf:AS01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a Resource Record describing Resources of type AS01. These Records provide information regarding all the SoundRecordings, Videos and other Resources that are contained in the Head Release.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="MW01" type="dsrf:MW01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a Musical Work Record of type MW01 describing MusicalWorks. These Records provide information regarding all the MusicalWorks that are utilised in the Head Release and/or one of its Resources.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:element name="AS02" type="dsrf:AS02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Resource Record describing Resources of type AS02. These Records provide information regarding all the SoundRecordings, Videos and other Resources that are contained in the Head Release.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResourceIdentificationGroupingForUgcProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a grouping for Resource identification in the UgcProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:sequence>
               <xs:element name="AS01" type="dsrf:AS01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a Record, of type AS01, which contains information regarding the SoundRecordings,
Videos and other 'master' Resources that have been used in creating the user-generated content that has been accessed. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="MW01" type="dsrf:MW01">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing a Musical Work Record,
of type MW01 which contains information about the MusicalWork utilised. </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:element name="AS02" type="dsrf:AS02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Resource Record of type AS02 describing the Resource including basic information of the underlying Work.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BasicAudioProfileBlock">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a block in the BasicAudioProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RE01" type="dsrf:RE01">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a Release Record of type RE01 describing a Head Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ResourceIdentificationGrouping"
            type="dsrf:ResourceIdentificationGroupingForBasicAudioProfile">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a grouping for Resource identification.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="RE02" type="dsrf:RE02">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a Record describing 'Sub-Releases' of type RE02. These Sub-Releases are either single-Resource Track Releases (as communicated in a NewReleaseMessage) and/or Releases that the MessageSender has generated exclusively from the Resources and/or MusicalWorks that are used in the Head Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="SU01" type="dsrf:SU01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales figures of type SU01.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SU02" type="dsrf:SU02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales figures of type SU02.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UgcProfileBlock">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a block in the UgcProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="ResourceIdentificationGrouping"
            type="dsrf:ResourceIdentificationGroupingForUgcProfile">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a grouping for Resource identification.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="RU01" type="dsrf:RU01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a UGC Release Usage Record of type RU01 describing the use of UGC Releases.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RU02" type="dsrf:RU02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a RU02 Record for each UGC Release and its use.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="SU03" type="dsrf:SU03">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales Figures of type SU03.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LI01" type="dsrf:LI01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a LI01 Record providing Licensor-specific information for the usages reported in the preceding SU03.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BasicAudioProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a report for audio-only Usage, Revenue or Sales. This Profile is also for reporting Usage, Revenue or Sales for music videos.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="HEAD" type="dsrf:HEAD">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The MessageHeader for the SingleFileSalesReportMessage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="SY01" type="dsrf:SY01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a type of use, commercial model and territory any Release contained in the Sales Report Message has been traded under. </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SY02" type="dsrf:SY02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a type of use, commercial model and territory any Release contained in the Sales Report Message has been traded under. </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SY03" type="dsrf:SY03">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a type of use, commercial model and territory any Release contained in the Sales Report Message has been traded under. </xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="BasicAudioProfileBlock"
            type="dsrf:BasicAudioProfileBlock">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of a block in the BasicAudioProfile.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FOOT" type="dsrf:FOOT">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The MessageFooter for the SingleFileSalesReportMessage.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UgcProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a Report for all Usage, Revenue or Sales for user-generated content.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="HEAD" type="dsrf:HEAD">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The MessageHeader for the SingleFileSalesReportMessage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="SY02" type="dsrf:SY02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of SoundRecordings, Videos and other Resources that are contained in the Head Release.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SY03" type="dsrf:SY03">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of SoundRecordings, Videos and other Resources that are contained in the Head Release.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="UgcProfileBlock"
            type="dsrf:UgcProfileBlock">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing details of a block in the UgcProfile.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FOOT" type="dsrf:FOOT">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The MessageFooter for the SingleFileSalesReportMessage.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ddex_IsoDate">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Date represented in ISO 8601:2004 format: YYYY[-MM[-DD]].</xs:documentation>
         <xs:documentation source="ddex:Comment">Format: A Date represented as a calendar Year, Month or Day (in ISO 8601:2004 format: YYYY, YYYY-MM or YYYY-MM-DD).</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{4}(-[0-9]{2}){0,1}(-[0-9]{2}){0,1}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
