schemas/AudioVisualProfile/1.0/AudioVisualProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dsrf-av="http://ddex.net/xml/dsrf/3/20170125"
           xmlns:avs="http://ddex.net/xml/avs/avs"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ddex.net/xml/dsrf/3/20170125"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:import namespace="http://ddex.net/xml/avs/avs"
              schemaLocation="../../avs/current/avs.xsd"/>
   <xs:annotation>
      <xs:documentation>© 2006-2017 Digital Data Exchange, LLC (DDEX)</xs:documentation>
      <xs:documentation>This XML Schema Definition file is, together with all DDEX standards, subject to two licences: If you wish to evaluate whether the standard meets your needs please have a look at the Evaluation Licence at https://kb.ddex.net/display/HBK/Evaluation+Licence+for+DDEX+Standards. If you want to implement and use this DDEX standard, please take out an Implementation Licence. For details please go to http://ddex.net/apply-ddex-implementation-licence.</xs:documentation>
   </xs:annotation>
   <xs:element name="AudioVisualProfile">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a Report for all Usages, Revenue and/or Sales for audio-visual Releases, excluding those for music videos.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="RecordType-HEAD" type="dsrf-av:RecordType-HEAD">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The MessageHeader for the SalesReportMessage.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="unbounded">
               <xs:element name="RecordType-SY02.01" type="dsrf-av:RecordType-SY0201">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing details of Usage, Revenue or Sales allocated to that RightsController according to the calculations made by the MessageSender.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordType-SY04" type="dsrf-av:RecordType-SY04">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing details of Usage, Revenue or Sales allocated to that RightsController according to the calculations made by the MessageSender.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordType-SY05" type="dsrf-av:RecordType-SY05">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing details of Usage, Revenue or Sales allocated to that RightsController according to the calculations made by the MessageSender.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordType-SY06" type="dsrf-av:RecordType-SY06">
                  <xs:annotation>
                     <xs:documentation source="ddex:Definition">A Composite containing details of Usage, Revenue or Sales allocated to that RightsController according to the calculations made by the MessageSender.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
            <xs:element name="AudioVisualProfileBlock"
                        maxOccurs="unbounded"
                        type="dsrf-av:AudioVisualProfileBlock">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing details of a block in the BasicAudioProfile.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-FOOT" type="dsrf-av:RecordType-FOOT">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">The MessageFooter for the SalesReportMessage.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="AudioVisualProfileBlock">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of a block in the AudioVisualProfile.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType-RE03" minOccurs="0" type="dsrf-av:RecordType-RE03">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a Release Record of type RE03 describing a Head Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:sequence maxOccurs="unbounded">
            <xs:element name="RecordType-AS03" type="dsrf-av:RecordType-AS03">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Resource Record describing Resources of type AS03. These Records provide information regarding all the Videos and other Resources that are contained in the Head Release.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-CU01"
                        minOccurs="0"
                        maxOccurs="unbounded"
                        type="dsrf-av:RecordType-CU01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Cue Record of type CU01. Cue Records allow the identification and description of cues, i.e. information about MusicalWorks or Resources that have been used in a specific Resource and how they have been used.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:element name="RecordType-RE02"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="dsrf-av:RecordType-RE02">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Composite containing a Record describing 'Sub-Releases' of type RE02. These Sub-Releases are either single-Resource Track Releases (as communicated in a NewReleaseMessage) and/or Releases that the MessageSender has generated exclusively from the Resources and/or MusicalWorks that are used in the Head Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="RecordType-SU01" type="dsrf-av:RecordType-SU01">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales figures of type SU01.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-SU02" type="dsrf-av:RecordType-SU02">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales figures of type SU02.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-SU03.01" type="dsrf-av:RecordType-SU0301">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales Figures of type SU03.01.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RecordType-SU04"
                        maxOccurs="unbounded"
                        type="dsrf-av:RecordType-SU04">
               <xs:annotation>
                  <xs:documentation source="ddex:Definition">A Composite containing a Record providing Usage, Revenue or Sales figures of type SU04.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-AS03">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing an Audio-visual Resource Record with details of audio-visual Resources that have been used or sold individually or as part of a Release (without information on the underlying (non-musical) Work Information).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'AS03'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="AS03"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResourceReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspResourceId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Resource assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ISAN" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISAN (International Standard Audio-visual Number as defined in ISO 15706) for the Video. An ISAN comprises four blocks of four hexadecimal characters followed by a check character followed, optionally by two further blocks of four hexadecimal characters, followed by a further check character.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[A-Fa-f0-9]{12}|[A-Fa-f0-9]{24}|[A-Fa-f0-9]{16}[A-Za-z][A-Fa-f0-9]{8}[A-Za-z]"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="EIDR" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">An Identifier of the Video assigned by the Entertainment Identifier Registry Association (EIDR). An EIDR shall be provided in the canonical form 10.5240/NaNX-NaNX-NaNX-NaNX-NaNX-C with X and C being hexadecimal digits.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProprietaryId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Proprietary ID given to the Resource by, for instance a production house or a broadcaster. To identify the origin of the identifier, a namespace has to prefix the identifier, separated by the Secondary Delimiter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="VideoType" maxOccurs="unbounded" type="avs:VideoType_DSRF">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Video.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OriginalTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Title given to a Creation by its Creator(s), in its original Language.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SeasonNumber" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number indicating the order of the Seasons within a Series.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EpisodeNumber" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number indicating the order of the Episodes within a Season (if available) or Series.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Genre" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The genre or style (such as Musical, literary or audio-visual) with which the Resource is associated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Duration" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Duration of the audio-visual Resource (using the ISO 8601:2004 PT[[hhH]mmM]ssS format, where lower case characters indicate variables, upper case characters are part of the string, e.g. one hour, two minutes and three seconds would be PT1H2M3S). The seconds section ss may include fractions (e.g. one minute and 30.5 seconds would be PT1M30.5S).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProducerName"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name(s) of the producer(s) of the audio-visual Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProducerPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the producer(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DirectorName" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name(s) of the Director(s) of the audio-visual Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DirectorPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Director(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ActorName"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name(s) of the Actor(s) of the audio-visual Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ActorPartyId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the Actor(s).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="LanguageLocalizationType"
                     minOccurs="0"
                     type="avs:LanguageLocalizationType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The type of adaptation of an audio-visual Resource for a specific audience and/or language.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="HasCaptioning" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Flag indicating whether the audio-visual Resource has captioning for the hard of hearing and/or deaf.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="HasAudioDescription" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Flag indicating whether the audio-visual Resource has audio descriptions for the visually impaired and blind.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LanguageOfPerformance"
                     minOccurs="0"
                     type="avs:IsoLanguageCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The original Language of the Performance recorded in the audio-visual Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LanguageOfDubbing" minOccurs="0" type="avs:IsoLanguageCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Language of dubbing used in the audio-visual Resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateOfProductionOrRelease"
                     minOccurs="0"
                     type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The date when the audio-visual resource was produced or when it was first released. This is to be provided in the ISO 8601 format: YYYY[-MM[-DD]]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryOfProduction"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The country or countries in which the audio-visual resource was produced</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-CU01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Cue Record with details of Cues of Creations used in video Resources that are part of an audio-visual Release.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'CU01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="CU01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CueResourceReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CueStartTime" minOccurs="0" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The start time of the referenced Creation, measured from the start of the Resource (using the ISO 8601:2004 PT[[hhH]mmM]ssS format.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CueDuration" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Duration of the use of the referenced Creation (using the ISO 8601:2004 PT[[hhH]mmM]ssS format.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReferencedCreationISRC" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISRC of the referenced Creation.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z]{2}[a-zA-Z0-9]{3}[0-9]{7}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ReferencedCreationISWC" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ISWC of the referenced Creation.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="T[0-9]{10}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ReferencedCreationTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Title of the referenced Creation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReferencedCreationDisplayArtistName"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the referenced Creation to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReferencedCreationDisplayArtistPartyId"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the ReferencedCreationDisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ReferencedCreationContributorName"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a creative Contributor of the referenced Creation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReferencedCreationContributorPartyId"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ReferencedCreationContributor.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ReferencedWorkComposerAuthorName"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of a writer of the referenced MusicalWork.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReferencedWorkComposerAuthorPartyId"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ReferencedWorkComposerAuthor.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ReferencedWorkArrangerName"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of an Arranger of the referenced MusicalWork.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReferencedWorkArrangerPartyId"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId(s) of the ReferencedWorkArranger.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-FOOT">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the end of each SalesReportMessage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'FOOT'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="FOOT"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NumberOfLinesInFile" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of data lines communicated in the file, including Header and Footer Records as well as empty Records in accordance with Clause 6.6.7 and commented-out Records in accordance with Clause 6.6.9.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfLinesInReport" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of data lines communicated in the Sales Report Message, including Header and Footer Records as well as empty Records in accordance with Clause 6.6.7 and commented-out Records in accordance with Clause 6.6.9. For single-file reports the NumberOfLinesInReport is the same as NumberOfLinesInFile. In multi-file reports, NumberOfLinesInFile is smaller than NumberOfLinesInReport.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfSummaryRecords" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Summary Records defined in accordance with the relevant Profile.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfBlocksInFile" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Blocks of Records in the file in accordance with the relevant profile. This need to be provided in the last file of the Report (but not the others).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfBlocksInRecord" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Number of Blocks of Records in the Sales Report Message in accordance with the relevant profile. This need to be provided in the last file of the Report (but not the others).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-HEAD">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite placed at the beginning of each SalesReportMessage providing information about the Message, such as MessageSender, MessageRecipient and a Message creation time stamp.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'HEAD'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="HEAD"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="MessageVersion">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Version of the Message.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="dsrf/"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Profile" type="avs:ProfileId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier of the Profile used for the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProfileVersion" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier of the Version of the Profile used for the Message. The value for this field is defined in the relevant Profile standard.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A string used to uniquely identify the Message. The MessageId shall be, in combination with the MessageSender Identifier, globally unique. Thus, a MessageSender shall never re-use a MessageId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MessageCreatedDateTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DateTime on which the Message was created (the only allowed format is ISO 8601:2004: YYYY-MM-DDThh:mm:ssTZD).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FileNumber" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Sequence number of the File within the Flat File Sales Report Message. The first file shall be numbered “1”. The FileNumber must not be larger than NumberOfFiles.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfFiles" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Files that the Sales Report is provided in.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsageStartDate" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The StartDate of the reporting Period covered by the Message (in ISO 8601:2004 format). This is a string with the syntax YYYY[-MM[-DD]].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsageEndDate" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The EndDate of the reporting Period covered by the Message (in ISO 8601:2004 format). This is a string with the syntax YYYY[-MM[-DD]].</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SenderPartyId">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX PartyId (DPID) of the MessageSender.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SenderName" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Full Name of the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDesctiption is intended to be a human-readable expression of the totality of the services reported in the Message. For sales/usage reports covering one sales context (see Clause 6.5) this should be the same is being the same string used in the file name (see Clause 9.1) and the single Summary Record contained in the Message. For sales reports covering multiple sale contexts, the ServiceDescription in the Header should be the same as on the file name and represent a human-readable summary of the sales contexts provided in the Summary Records.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecipientPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX PartyId (DPID) of the MessageRecipient. This element is mandatory when the Sales Report Message is sent to one MessageRecipient and must not be included when the Sales Report Message is sent to more than one MessageRecipient.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RecipientName" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Full Name of the MessageRecipient. This element is mandatory when the Sales Report Message is sent to one MessageRecipient and must not be included when the Sales Report Message is sent to more than one MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RepresentedRepertoire"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Content owners represented by the MessageRecipient. This only needs to be provided if there are more than one repertoires being administered by the MessageRecipient.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-RE02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Sub-Release Record with details of Sub-Releases that have been used or sold.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RE02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RE02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record. Within a Block, the ReleaseReference shall be unique across all Release Records. In the interest of keeping sales/usage reports as compact as possible, the ReleaseReference should typically be a short string, e.g. '1', '2', ...</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspSubReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Sub-Release assigned by the MessageSender. This ProprietaryIdentifier should be a globally unique identifier for the Sub-Release and not the globally unique identifier for the Head Releases that this Sub-Release has been taken from.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProprietarySubReleaseId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Sub-Release preceded by a namespace identifier in the syntax ns::i. This ProprietaryIdentifier should be a globally unique identifier for the Sub-Release and not the globally unique identifier for the Head Releases that this Sub-Release has been taken from.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="UsedResources" maxOccurs="unbounded" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">List of ResourceReferences of the Resources (reported in the same Block) that make up the Sub-Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-RE03">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing a Basic Audio-Visual Release Record with details of audio-visual Releases that have been used or sold.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'RE03'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="RE03"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReleaseReference" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Block) of the Record, that allows other Records to reference this Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProprietaryReleaseId" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the Release preceded by a namespace identifier in the syntax ns::id.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ICPN" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ICPN used as proxy for identification of the Release. An ICPN comprises 12 or 13 digits, depending whether it is an EAN (13) or a UPC (12).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{12,14}"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Title" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ReferenceTitle of the Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Descriptor which is supplementary to, but not contained within, a Title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SeriesTitle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Title of the Series that the Release is part of.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SeasonNumber" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number indicating the order of the Seasons within a Series.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistName" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name to be used by a DSP when presenting Artist details of the Release to a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisplayArtistPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The PartyId of the DisplayArtist.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ReleaseType" minOccurs="0" type="avs:ReleaseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The form in which a ReleaseCreator anticipates offering the Release to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DataProvider" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Name of the company that provided the Release information to the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SU01">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of Releases and/or Resources (not UGC) for download services or other similar services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the Sales Transaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactedRelease" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Block-specific ReleaseReference of the Record describing the Release (either a Head Release or a SubRelease) whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactedResource" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Block-specific ReleaseReference of the Recordd describing the Resource whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsRoyaltyBearing" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Boolean flag indicating whether the MessageSender is contractually obliged to pay royalties to the RightsController for the SalesTransaction reported in the Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesUpgrade" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Flag indicating whether the SalesTransaction applies to an upgraded Release (=true) or not (=false).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release by Consumers using the MessageSender service, including any sales adjustments. Sales adjustments include e.g. file failures.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Returns" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of a Release returned (with refund) to the MessageSender as a result of a reversal of a SalesTransaction or because of an earlier error in sales reporting.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PriceConsumerPaidExcSalesTax" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Price paid by Consumers, excluding SalesTax for each SalesTransaction. This may be a nominal price.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PromotionalActivity" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Free-text Description of a promotional activity that led to the Release being distributed.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SU02">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of Releases and/or Resources for streaming services or other similar services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU02'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU02"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the SalesTransaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactedRelease" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Block-specific ReleaseReference of the Record describing the Release (either a Head Release or a SubRelease) whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactedResource" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Block-specific ReleaseReference of the Record describing the Resource whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsRoyaltyBearing" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Boolean flag indicating whether the MessageSender is contractually obliged to pay royalties to the RightsController for the SalesTransaction reported in the Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfStreams" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Streams of the Release from the MessageSender to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PriceConsumerPaidExcSalesTax" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Price paid by Consumers, excluding SalesTax for each SalesTransaction. This may be a nominal price.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PromotionalActivity" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Free-text Description of a promotional activity that led to the Release being distributed.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SU0301">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of UGC Resources where there is no need to point to a Summary Record.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU03.01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU03.01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the SalesTransaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DspReleaseId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ProprietaryIdentifier of the UGC Release assigned by the MessageSender.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of times the “Head” Resource or Work has been used in the sales period covered by the Sales Report Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModelType and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ValidityPeriodStart"
                     minOccurs="0"
                     type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The first date at which, to the knowledge of the MessageSender, the information provided in the RightsController and RightSharePercent Cells is accurate. Note: the ValidityPeriodStart may be earlier (or later) than the first day covered by the sales/usage report.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ValidityPeriodEnd" minOccurs="0" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The last date at which, to the knowledge of the MessageSender, the information provided in the RightsController and RightSharePercentage Cells is accurate. Note: the ValidityPeriodEnd may be later (or earlier) than the latest day covered by the sales/usage report.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SU04">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing details of Usages, Revenues or Sales of audio-visual Releases.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SU04'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SU04"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="BlockId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Block that this Record belongs to. All Records in a single Block shall have the same BlockId.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record that this Usage, Revenue or Sales Record provides details for.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesTransactionId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">ProprietaryIdentifier of the SalesTransaction, allocated by the MessageSender, which allows an invoice to be tied back to an individual SalesTransaction composite/record. Globally and perpetually unique together with the Message ID. The SalesTransactionId may change when the report is re-generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactedRelease" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Block-specific ReleaseReference of the Record describing the Release (either a Head Release or a SubRelease) or Resource whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactedResource" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Block-specific ReleaseReference of the Record describing the Resource whose Usages, Revenues or Sales are being reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DrmEnforcementType"
                     minOccurs="0"
                     type="avs:DrmEnforcementType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of DRM enforcement to indicate if the Release was technically protected.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="VideoDefinitionType"
                     minOccurs="0"
                     type="avs:VideoDefinitionType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The type of resolution (or definition) in which a Video is provided.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CodingType" minOccurs="0" type="avs:CodingType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The type of coding in which a Video is provided.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BitRate" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">BitRate for the audio-visual data in Mbps.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OriginalBroadcastChannel" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The broadcast channel on which the Release was originally broadcast.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OriginalBroadcastDateTime" minOccurs="0" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The date and, if available, time, of the original broadcast of the Resource in ISO 8601 format.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsRoyaltyBearing" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Boolean flag indicating whether the MessageSender is contractually obliged to pay royalties to the RightsController for the SalesTransaction reported in the Record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SalesUpgrade" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Flag indicating whether the SalesTransaction applies to an upgraded Release (=true) or not (=false).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Returns" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of a Release returned (with refund) to the MessageSender as a result of a reversal of a SalesTransaction or because of an earlier error in sales reporting.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DurationUsed" minOccurs="0" type="xs:duration">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The total Duration of the Release that has been used (this may be less than the total Duration of the Release or Resource) (using the ISO 8601:2004 PT[[hhH]mmM]ssS format).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PriceConsumerPaidExcSalesTax" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Price paid by Consumers, excluding SalesTax for each SalesTransaction. This may be a nominal price.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PromotionalActivity" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Free-text Description of a promotional activity that led to the Release being distributed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OfferStartDate" minOccurs="0" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Date on which the Release transacted was made available to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OfferEndDate" minOccurs="0" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Date on which the Release transacted ceased to be available to Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OfferURL" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The URL from where the Release transacted was available.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SY0201">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about Usages, Sales and Revenues of AudioReleases or Resources Ad-Supported and Interactive Streaming Services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY02.01'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY02.01"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannel" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannelDPID" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Users" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Users with whom the Release or Resource were transacted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue, AllocatedRevenue and AllocatedNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModel and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsController" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsControllerPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">PartyId of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AllocatedUsages"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages allocated to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedRevenue"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Uses reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedNetRevenue" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the generated that are to be ascribed to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsType" minOccurs="0" type="avs:RightsCoverage">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Type of Right which is covered.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SY04">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about usage-independent per subscriber minima that apply to a series of sales/usages, typically in the context of Subscription Services.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY04'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY04"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannel" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannelDPID" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubscriberType" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The type of Subscriber.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Subscribers" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Subscribers of the SubscriberType.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubPeriodStartDate" minOccurs="0" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The StartDate of the reporting Period covered by the Summary Record (in ISO 8601:2004 format) to allow reporting per-subscriber minima more granular than the overall reporting period. This is a string with the syntax YYYY[-MM[-DD]]. The SubPeriodStartDate must not be earlier than than the UsageEndDate provided in the relevant header record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SubPeriodEndDate" minOccurs="0" type="dsrf-av:ddex_IsoDate">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The EndDate of the reporting Period covered by the Summary Record (in ISO 8601:2004 format) to allow reporting per-subscriber minima more granular than the overall reporting period. This is a string with the syntax YYYY[-MM[-DD]]. The SubPeriodEndDate must not be later than than the UsageEndDate provided in the relevant header record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsagesInSubPeriod" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release or Resource from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsagesInReportingPeriod" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release or Resource from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue and IndirectNetRevenue are provided (represented by an ISO 4217 currencycode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ExchangeRateBaseCurrency"
                     minOccurs="0"
                     type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The base Currency for which the ExchangeRate is given.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ExchangeRate" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The exchange rate used to calculate the ConsumerPaidUnitPrice in the specified Currency.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConsumerPaidUnitPrice" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The average price paid by the Subscribers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender for the Territory, CommercialModel and UseType. This element is, in most cases, the basis for royalty calculations.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SY05">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about subscription service-based sales/usages for individual Licensors.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY05'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY05"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannel" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannelDPID" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsController" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Name of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsControllerPartyId" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">PartyId of the RightsController that is believed by the MessageSender to control a RightShare of the Work.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value=".*::.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RightsType" type="avs:RightsCoverage">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Type of Right which is covered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TotalUsages" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages generated by the Service.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedUsages"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages allocated to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MusicUsageRatio" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">A Rate for the usages of Resources with musical content in relation to the usages of all Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedRevenue"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The amount due to the RightsController for the Uses, Revenue or Sales.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AllocatedNetRevenue" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the generated that are to be ascribed to the RightsController.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RightsControllerMarketShare" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The ratio in percent between number of Usages and
number of AllocatedUsages. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordType-SY06">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Composite containing basic summary information about audio-visual Sales/Usages.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of the Record; always to contain 'SY06'.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="SY06"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SummaryRecordId" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Identifier (specific to the Message) of the Summary Record. This Identifier shall be used by Usage/Revenue/Sales Records to indicate to which Summary Record they provide details.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannel" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Licensee on whose behalf the Sales/Usage has been generated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DistributionChannelDPID" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The DDEX Party ID of the DistributionChannel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="PADPIDA[a-zA-Z0-9]+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="CommercialModel" type="avs:CommercialModelType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Type of CommercialModel of the SalesTransaction. The CommercialModel indicates how a Consumer pays for a Service or Release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UseType" type="avs:UseType">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The nature of a Service, or a Release, as used by a Consumer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Territory" type="avs:CurrentTerritoryCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Territory for which the sale/transaction is reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The service name (e.g. a service tier) under which the SalesTransaction took place. The ServiceDescription may not contain space characters or underscores.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Usages" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Usages of the Release from the MessageSender to Consumers, including any sales adjustments. Sales adjustments include e.g. file failures. For the avoidance of doubt: this cell shall contain all relevant Usages of Releases plus all relevant Usages of Resources.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Subscribers" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The number of Subscribers to a Service.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="avs:CurrencyCode">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Currency in which the NetRevenue and IndirectNetRevenue are provided (represented by an ISO 4217 CurrencyCode).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberOfReleases" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Total number of Releases reported in the Message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetRevenue" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the DSP generated from the distribution of such products, as well as sales of products based on Releases embodying relevant Work(s).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IndirectNetRevenue" minOccurs="0" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">Net Revenue of the MessageSender that was generated and that cannot be allocated to individual Releases. This field is Contractually Mandatory.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PreviewAvailable" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation source="ddex:Definition">The Boolean flag that indicates whether the Service offers previews (True/False). Note, this is independent from whether any previews were accessed by Consumers.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ddex_IsoDate">
      <xs:annotation>
         <xs:documentation source="ddex:Definition">A Date represented in ISO 8601:2004 format: YYYY[-MM[-DD]].</xs:documentation>
         <xs:documentation source="ddex:Comment">Format: A Date represented as a calendar Year, Month or Day (in ISO 8601:2004 format: YYYY, YYYY-MM or YYYY-MM-DD).</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{4}(-[0-9]{2}){0,1}(-[0-9]{2}){0,1}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
