testdata/nodes/profile_node.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dsrf="http://ddex.net/xml/dsrf/30" xmlns:avs="http://ddex.net/xml/avs/avs" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ddex.net/xml/dsrf/30" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:complexType name="UgcBlock" xmlns:avs="http://ddex.net/xml/avs/avs" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ddex.net/xml/avs/avs" elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:annotation>
      <xs:documentation source="ddex:Definition">
        A Composite containing details of Releases, Resources, Musical Works and their Usage, Revenue or Sales figures.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="AS01" type="dsrf:RecordType-AS01">
            <xs:annotation>
              <xs:documentation source="ddex:Definition">
                A Composite containing a Record, of type AS01, which contains information regarding the Sound Recordings, Videos and other 'master' Resources that have been used in creating the user-generated content that has been accessed.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MW01" minOccurs="0" maxOccurs="unbounded" type="dsrf:RecordType-MW01">
            <xs:annotation>
              <xs:documentation source="ddex:Definition">
                A Composite containing a Musical Work Record, of type MW01 which contains information about the Musical Work utilised.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="AS02" type="dsrf:RecordType-AS02">
          <xs:annotation>
            <xs:documentation source="ddex:Definition">
              A Composite containing a Resource Record of type AS02 describing the Resource including basic information of the underlying Work.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="RU01" type="dsrf:RecordType-RU01">
          <xs:annotation>
            <xs:documentation source="ddex:Definition">
              A Composite containing a UGC Release Usage Record of type RU01 describing the use of UGC Releases.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RU02" type="dsrf:RecordType-RU02">
          <xs:annotation>
            <xs:documentation source="ddex:Definition">
              A Composite containing a RU02 Record for each UGC Release and its use.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="SU03" maxOccurs="unbounded" type="dsrf:RecordType-SU03">
        <xs:annotation>
          <xs:documentation source="ddex:Definition">
            A Composite containing a Record providing Usage, Revenue or Sales Figures of type SU03.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LI01" minOccurs="0" maxOccurs="unbounded" type="dsrf:RecordType-LI01">
        <xs:annotation>
          <xs:documentation source="ddex:Definition">
            A Composite containing a LI01 Record providing Revenue information for each content owner. LI01 Records shall not be provided in the single Rights Controller set-up.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UgcProfile">
    <xs:annotation>
      <xs:documentation source="ddex:Definition">
        A Composite containing details of a report for all Usage, Revenue or Sales for user-generated content.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="SummaryRecord03" type="dsrf:SummaryRecord03">
          <xs:annotation>
            <xs:documentation source="ddex:Definition">
              A Composite containing details of Sound Recordings, Videos and other Resources that are contained in the Head Release.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="SY04" type="dsrf:RecordType-SY04">
          <xs:annotation>
            <xs:documentation source="ddex:Definition">
              A Composite containing details of Sound Recordings, Videos and other Resources that are contained in the Head Release.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Block" minOccurs="0" maxOccurs="unbounded" type="dsrf:UgcBlock">
        <xs:annotation>
          <xs:documentation source="ddex:Definition">
            A Composite containing details of Releases, Resources, Musical Works and their Usage, Revenue or Sales figures.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
